Adafruit-Blinka==8.19.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-register==1.9.16
adafruit-circuitpython-requests==1.14.0
adafruit-circuitpython-sht4x==1.0.17
adafruit-circuitpython-typing==1.9.4
adafruit-circuitpython-veml7700==1.1.20
Adafruit-PlatformDetect==3.46.0
Adafruit-PureIO==1.1.11
cachecontrol==0.13.1
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==41.0.1
firebase-admin==6.1.0
google-api-core==2.11.0
google-api-python-client==2.88.0
google-auth==2.19.1
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.11.1
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
grpcio==1.54.2
grpcio-status==1.54.2
httplib2==0.22.0
idna==3.4
msgpack==1.0.5
proto-plus==1.22.2
protobuf==4.23.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pyftdi==0.54.0
PyJWT==2.7.0
pyparsing==3.0.9
pyserial==3.5
pyusb==1.2.1
requests==2.31.0
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
rsa==4.9
six==1.16.0
sysv-ipc==1.1.0
typing-extensions==4.6.3
uritemplate==4.1.1
urllib3==1.26.16
